[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
pyqt6 = "*"
pillow = "*"
screeninfo = "*"
pyperclip = "*"
beautifulsoup4 = "*"
requests = "*"
pymongo = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
