[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
pyqt6 = "*"
pillow = "*"
screeninfo = "*"
pyperclip = "*"
beautifulsoup4 = "*"
requests = "*"
pymongo = "3.12.3"
pytz = "*"
webdavclient3 = "*"
exifread = "*"
colorthief = "*"
dacite = "*"

[dev-packages]

[requires]
python_version = "3.8"
